@layer tailwind-base {
  /* Tailwind preflight resets border-styles. We redefine them to get ds-styling.
  https://tailwindcss.com/docs/preflight#border-styles-are-reset
  */
  .ds-card {
    border-width: var(--dsc-card-border-width);
    border-style: var(--dsc-card-border-style);
    border-color: var(--dsc-card-border-color);
  }

  .ds-details {
    border-top-width: var(--dsc-details-border-block-width);
    border-bottom-width: var(--dsc-details-border-block-width);
    border-style: var(--dsc-details-border-block-style);
    border-color: var(--dsc-details-border-color);
  }

  .ds-popover {
    border-color: var(--dsc-popover-border-color);
    border-style: var(--dsc-popover-border-style);
    border-width: var(--dsc-popover-border-width);
  }

  .ds-popover:before {
    border-left-color: transparent;
    border-top-color: transparent;
    border-width: var(--dsc-popover-border-width);
  }
}
