name: CI
# Opt out of any default permissions
permissions: {}

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      e2e_changed: ${{ steps.e2e_check.outputs.e2e_changed }}
    timeout-minutes: 20

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install
        uses: ./.github/actions/install-packages

      - name: Check formatting
        run: pnpm nx format:check

      - name: Lint
        run: pnpm nx affected --target=lint --max-warnings=0

      - name: Build
        run: pnpm nx affected --target=build

      - name: Test
        run: pnpm nx affected --target=test --passWithNoTests

      - name: Check if E2E is affected
        id: e2e_check
        run: |
          AFFECTED_E2E=$(pnpm nx show projects --affected --target=e2e)
          if [ -n "$AFFECTED_E2E" ]; then
            echo "e2e_changed=true" >> "$GITHUB_OUTPUT"
          else
            echo "e2e_changed=false" >> "$GITHUB_OUTPUT"
          fi

  e2e:
    needs: ci
    if: needs.ci.outputs.e2e_changed == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write # Required by actions/cache to save caches
    timeout-minutes: 30

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install
        uses: ./.github/actions/install-packages

      - name: Cache Playwright
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/ms-playwright
          key: playwright-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            playwright-${{ runner.os }}-

      - name: Install Playwright
        run: pnpm exec playwright install --with-deps

      - name: End-to-end test
        run: pnpm nx affected --target=e2e
