name: Publish
# Opt out of any default permissions
permissions: {}

on:
  push:
    tags:
      - v*.*.*

jobs:
  test:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # needed for provenance data generation
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Install
        uses: ./.github/actions/install-packages

      - name: Print Environment Info
        run: npx nx report
        shell: bash

      - name: Build packages
        run: |
          pnpm nx run @ks-digital/designsystem-themes:build
          pnpm nx run @ks-digital/designsystem-react:build
          pnpm nx run @ks-digital/designsystem-angular:build
        shell: bash

      - name: Publish packages
        run: npx nx release publish
        shell: bash
        env:
          NPM_CONFIG_PROVENANCE: true
